
html, body {
    background: #faf8ef;
    color: #776e65;
    font: normal normal 15px Verdana, Geneva, Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

body {
    margin: 16px;
}

a {
    color: #aabbff;
    text-decoration: none;
}

a:hover {
    color: #6677aa;
    text-decoration: underline;
    cursor: pointer;
}

.container {
    width: 600px;
    margin: 0 auto;
}

.game-container {
    margin-top: 20px;
    position: relative;
    cursor: default;
    -webkit-touch-callout: none;
    user-select: none;
    -ms-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -ms-touch-action: none;
    touch-action: none;
}

canvas {
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    background: #000;
}

td {
    text-align: center;
    width: 64px;
}

.left-align {
    text-align: left;
}

span {
    /* style this span element so we can display nicely, this stlying is not neccessary */
    display: block;
    width: 100%;
    float: left;
}

input[type="radio"] {
    /* hide the inputs */
    display: none;
}

/* style your lables/button */
input[type="radio"] + label {
    /* keep pointer so that you get the little hand showing when you are on a button */
    cursor: pointer;
    /* the following are the styles */
    padding: 4px 10px;
    border: 1px solid #ccc;
    background: #faf8ef;
    color: rgb(56, 56, 56);
    border-radius: 3px;
    text-shadow: 1px 1px 0 rgba(0,0,0,0);
    display: block;
    text-align: center;
}

input[type="radio"]:checked + label {
    /* style for the checked/selected state */
    background: #777;
    border: 1px solid #444;
    text-shadow: 1px 1px 0 rgba(0,0,0,0.4);
    color: white;
}

input[type="text"] {
    font: normal normal 15px Verdana, Geneva, Arial, Helvetica, sans-serif;
    text-align: center;
    width: 55px;
    border-radius: 3px;
    border: 1px solid #ccc;
    height: 24px;
}